<div class="container">
    <h1>Mclaren Task <small>Front-end recruitment challenge</small></h1>
    <p class="lead">
        A hospital is running a trial to see if their patients age 20-40 are falling below the recommended level of activity
    </p>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <button class="btn btn-primary">Sort</button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <input class="form-control" placeholder="Search...">
            </div>
        </div>
        <div class="col-lg-12">
            {{summary$ | async | json}}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
